<!-- contact page starts-->
<section>
    <h3 class="text-center my-5 text-capitalize">let's connect</h3>

    <form class="c-form container row m-auto small">
        <div class="col-md-6 mb-3">
            <label for="validationCustom01" class="form-label m-0">First name*</label>
            <input type="text" class="form-control" id="validationCustom01" required />
        </div>

        <div class="col-md-6 mb-3">
            <label for="validationCustom02" class="form-label m-0">Last name*</label>
            <input type="text" class="form-control" id="validationCustom02" required />
        </div>

        <div class="col-md-6 mb-3">
            <label for="validationCustom03" class="form-label m-0">Email*</label>
            <input type="text" class="form-control" id="validationCustom03" required />
        </div>

        <div class="col-md-6 mb-3">
            <label for="validationCustom04" class="form-label m-0">Phone*</label>
            <input type="text" class="form-control" id="validationCustom04" required />
        </div>

        <div class="col-md-6 mb-3">
            <label>Portfolio</label>
            <select class="form-select" aria-label=".form-select example">
                <option selected>Select...</option>
                <option value="1">Iceland</option>
                <option value="2">Australia</option>
                <option value="3">South Africa</option>
                <option value="4">Japan</option>
            </select>
        </div>

        <div class="col-md-6 mb-3">
            <label for="validationCustom04" class="form-label m-0">Do you have a specific date in mind?*</label>
            <input type="date" class="form-control" id="validationCustom04" required />
        </div>

        <div class="col-12 mb-3">
            <p for="floatingTextarea" class="form-label m-0">Comments*</p>
            <textarea class="form-control"
                placeholder="Tell us what portfolio you liked the most and how we can help you!"
                id="floatingTextarea"></textarea>
        </div>
        <div class="col-md-12 d-flex justify-content-start">
            <button type="submit" class="btn btn-light mb-5" id="submit">
                Send
            </button>
            <span class="mt-2 mx-2 small">Required fields are marked *</span>
        </div>
    </form>

    <div class="contact-form container text-center py-5">
        <p>Other Ways to Connect:</p>

        <div class="
        contact-form-content
        container
        d-flex
        flex-wrap
        justify-content-center
        my-5
      ">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10638.111382747451!2d16.359429!3d48.196448!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07866f5ea789%3A0x5c320007be5849de!2sKettenbr%C3%BCckengasse%2023%2C%201050%20Wien!5e0!3m2!1sde!2sat!4v1634577700318!5m2!1sde!2sat"
                width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                class="d-none d-sm-block"></iframe>
            <div class="mx-5 my-5">
                <p class="mb-4">team2@codefactory.com</p>
                <p class="mb-4"><i class="fas fa-phone-square"></i> (+4)066732555</p>
                <a href="#" class="fab fa-facebook-f text-decoration-none me-2 text-dark"></a>
                <a href="#" class="fab fa-twitter text-decoration-none me-2 text-dark"></a>
                <a href="#" class="fab fa-instagram text-decoration-none me-2 text-dark"></a>
                <a href="#" class="fab fa-linkedin text-decoration-none me-2 text-dark"></a>
                <a href="#" class="fab fa-pinterest text-decoration-none me-2 text-dark"></a>
            </div>
        </div>
    </div>
</section>
<!-- contact page ends-->