/** Color Palette **/

/* Basic colors*/
$white: #fff;
$black: #000;

/* gray */
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

/* Yellow */
$yellow-500: #ffeb3b;
$yellow-900: #f57f17;

/* Amber */
$amber-400: #ffca28;
$amber-500: #ffc107;
$amber-a400: #ffc400;

/* Orange */
$orange-500: #ff9800;
$orange-800: #ef6c00;
