  <!-- footer section starts  -->
  <footer class="py-5 shadow">
    <div
        class="container d-flex flex-wrap flex-column justify-content-center align-items-center flex-sm-column justify-content-sm-center align-items-sm-center flex-md-row flex-lg-row justify-content-md-around justify-content-lg-around text-capitalize">
        <div class="c-footer-col">
            <h4>Company</h4>
            <ul class="list-unstyled">
                <li>about</li>
                <li>testimonials</li>
                <li>customers</li>
                <li>contact</li>
            </ul>
        </div>

        <div class="c-footer-col">
            <h4>portfolio</h4>
            <ul class="list-unstyled">
                <li>iceland</li>
                <li>australia</li>
                <li>south africa</li>
                <li>japan</li>
            </ul>
        </div>

        <div class="c-footer-col">
            <h4>get help</h4>
            <ul class="list-unstyled">
                <li>FAQ</li>
                <li>order status</li>
                <li>payment</li>
            </ul>
        </div>

        <div class="c-footer-social-links my-3">
            <h4 class="text-center">follow us</h4>
            <a href="#" class="fab fa-facebook-f text-decoration-none me-2 text-dark lead"></a>
            <a href="#" class="fab fa-twitter text-decoration-none me-2 text-dark lead"></a>
            <a href="#" class="fab fa-instagram text-decoration-none me-2 text-dark lead"></a>
            <a href="#" class="fab fa-linkedin text-decoration-none me-2 text-dark lead"></a>
            <a href="#" class="fab fa-pinterest text-decoration-none me-2 text-dark lead"></a>

        </div>
    </div>

    <div class="c-footer-text text-center mt-5 d-flex flex-row justify-content-center">
        <p class="c-firstP">Created By</p>
        <img src="../img/alinaImg/logo.png" class="c-footer-logo">
        <p class="c-secondP">| All Rights Reserved</p>
    </div>

</footer>
<!-- footer section ends -->