    <!-- Main container begin-->
    <main>

        <!-- Marketing messaging and featurettes below the carousel 
            ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
        <div class="container px-4 container mt-3 mb-3 pt-3 pb-3">
            <h1 class="text-center pb-3 text-uppercase fw-light">Why choose us</h1>

            <!-- Top row  begin -->
            <div class="row row-cols-1 row-cols-lg-3 gx-4">
                <div class="col">
                    <div class="p-3 text-center h-100">
                        <i class="fas fa-camera-retro fa-3x p-3"></i>
                        <h2 class="fs-4 fw-light text-uppercase">Studio Shooting</h2>
                        <p class="c-font-size-root">We offer a complete, tailor-made photo editorial service. We manage
                            a database with journalistic photos!</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 text-center h-100">
                        <i class="fas fa-photo-video fa-3x p-3"></i>
                        <h2 class="fs-4 fw-light text-uppercase">Studio Video</h2>
                        <p class="c-font-size-root">Your company needs more photography than you might think. We
                            photograph your products, production or buildings!</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 text-center h-100">
                        <i class="fas fa-images p-3 fa-3x"></i>
                        <h2 class="fs-4 fw-light text-uppercase">Print Studio</h2>
                        <p class="c-font-size-root">Besides that, we know our way around photo databases and stock
                            photos, so that we always find the perfect fit!</p>
                    </div>
                </div>
            </div>
            <!-- Top row  end -->

            <hr class="c-featurette-divider">

            <!-- Fisrt Ads -->
            <div class="row c-featurette">
                <div class="col-md-7">
                    <h2 class="c-featurette-heading">Fashion</h2>
                    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quod reiciendis ab minima eos!</p>
                </div>
                <div class="col-md-5">
                    <img src="../../assets/img/home/sara-dubler.jpg" class="card-img-top rounded c-img-zoom" alt="...">
                </div>
            </div>

            <hr class="c-featurette-divider">

            <!-- Second Ads -->
            <div class="row c-featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="c-featurette-heading">Portrait</h2>
                    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quod reiciendis ab minima eos!</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="../../assets/img/home/nature_laura.jpg" class="card-img-top rounded c-img-zoom" alt="...">
                </div>
            </div>

            <hr class="c-featurette-divider">

            <!-- Third Ads -->
            <div class="row c-featurette">
                <div class="col-md-7">
                    <h2 class="c-featurette-heading">Experimental</h2>
                    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quod reiciendis ab minima eos!</p>
                </div>
                <div class="col-md-5">
                    <img src="../../assets/img/home/peru_willian.jpg" class="card-img-top rounded c-img-zoom" alt="...">
                </div>
            </div>

        </div>

        <div id="gallery-container" class="lightbox ms-4 me-4">
            <hr class="c-featurette-divider">
            <div class="row mb-5 ms-0 fs-1">
                <h1 class="text-center c-normal-heading">Creative Works</h1>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0"><img src="../../assets/img/home/mix/married4.jpg" alt=""
                        class="w-100 shadow-1-strong rounded mb-4 c-img-zoom"><img src="../../assets/img/home/mix/flowergirl.jpg"
                        alt="" class="w-100 shadow-1-strong rounded mb-4 c-img-zoom"></div>
                <div class="col-lg-4 mb-4 mb-lg-0"><img src="../../assets/img/home/mix/flower2.jpg" alt=""
                        class="w-100 shadow-1-strong rounded mb-4 c-img-zoom"><img src="../../assets/img/home/mix/flower.jpg" alt=""
                        class="w-100 shadow-1-strong rounded mb-4 c-img-zoom">
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0"><img src="../../assets/img/home/mix/married2.jpg" alt=""
                        class="w-100 shadow-1-strong rounded mb-4 c-img-zoom"><img src="../../assets/img/home/mix/married.jpg" alt=""
                        class="w-100 shadow-1-strong rounded mb-4 c-img-zoom"></div>
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0"><img src="../../assets/img/home/mix/handheart.jpg" alt=""
                        class="w-100 shadow-1-strong rounded mb-4 c-img-zoom"><img src="../../assets/img/home/mix/portrait.jpg"
                        alt="" class="w-100 shadow-1-strong rounded mb-4 c-img-zoom"></div>
                <div class="col-lg-4 mb-4 mb-lg-0"><img src="../../assets/img/home/mix/portrait2.jpg" alt=""
                        class="w-100 shadow-1-strong rounded mb-4 c-img-zoom"><img src="../../assets/img/home/mix/autumnred.jpg"
                        alt="" class="w-100 shadow-1-strong rounded mb-4 c-img-zoom"></div>
                <div class="col-lg-4 mb-4 mb-lg-0"><img src="../../assets/img/home/mix/bumblebee.jpg" alt=""
                        class="w-100 shadow-1-strong rounded mb-4 c-img-zoom"><img src="../../assets/img/home/mix/pet4.jpg" alt=""
                        class="w-100 shadow-1-strong rounded mb-4 c-img-zoom">
                </div>
            </div>
        </div>

    </main>
    <!-- Main container end-->
