<section class="c-customer-clients container text-center mt-5">
    <h1>Our Clients</h1>
    <div class="d-flex flex-column flex-lg-row flex-lg-wrap justify-content-center justify-content-lg-around  align-items-center py-5">
         
         <img src="../../assets/img/alinaImg/canonLogo.png" alt="" class="canon mb-3" >
         <img src="../../assets/img/alinaImg/panasonicLogo.png" alt="" class="panasonic mb-3">
         <img src="../../assets/img/alinaImg/kodakLogo.png" alt="" class="kodak mb-3 py-md-3">
         <img src="../../assets/img/alinaImg/nikonLogo.png" alt="" class="nikon mb-3">
         <img src="../../assets/img/alinaImg/youtubeLogo.png" alt="" class="youtube mb-3">
         <img src="../../assets/img/alinaImg/googleMapsLogo.png" alt="" class="googleMaps mb-3 py-md-2">
         <img src="../../assets/img/alinaImg/codeFactory.png" alt="" class="codeFactory mb-3 py-md-3">
     
    </div>
</section>

 <section class="c-section-text container my-3">
     <h3 class="text-center mb-5">We are GLOBAL</h3>
     <p>We work with clients across the global and have teams in 4 locations: Iceland, Australia, South Africa, Japan.</p>
     <p>Let's see what one of the biggest photography companies in the world has to say about <span class="fw-bold">Us:</span></p>

     <div class="c-reviews border border-1 rounded p-4 mb-3">
         <p> > Team Two Photography have solved a huge headache for us, to be able to shoot beautiful lifestyle images in the right settings, quickly enough to launch products.
         </p>
         <p> > They could understand all the functionality of the camera in a short time.</p>
         <p> > Team Two Photography knows how to adjust all the settings to get that exposure you’re looking for.</p>
         <p> > They know how to Explore the Depth of Field</p>
         <p> > Position is very important when you take a photo and they know very well the spatial relationships between objects in your frame – their sizes, their placements, and the space between them.</p>
     </div>

     <p>You can see down below few photos that we took for our customers from all over the world.</p>
     
 </section>

 <section class="c-section-images container">
     <figure>
         <img src="../../assets/img/alinaImg/canon_adobespark (1).png" alt="canon camera" class="rounded mx-auto d-block w-25">
         <figcaption class="blockquote-footer text-center p-1">enjoy the photos, <cite title="Canon EOS R6">Canon EOS R6</cite></figcaption>
     </figure>
     
     <div class="c-images d-flex flex-wrap justify-content-center mb-5">
         <img src="../../assets/img/alinaImg/Cherry Blossom.jpg" alt="" class="rounded">
         <img src="../../assets/img/alinaImg/dan-dealmeida-Qr0Dvl8YQtU-unsplash.jpg" alt="" class="rounded">
         <img src="../../assets/img/alinaImg/flowers.jpg" alt="" class="rounded">
         <img src="../../assets/img/alinaImg/forestFall.jpg" alt="" class="rounded">
         <img src="../../assets/img/alinaImg/forestLake.jpg" alt="" class="rounded">
         <img src="../../assets/img/alinaImg/irelandSheep.jpg" alt="" class="rounded">
         <img src="../../assets/img/alinaImg/italy.jpg" alt="" class="rounded">
         <img src="../../assets/img/alinaImg/lucas-ludwig-eguiIyEGxQU-unsplash.jpg" alt="" class="rounded">
         <img src="../../assets/img/alinaImg/venice.jpg" alt="" class="rounded">
         <img src="../../assets/img/alinaImg/simon-english-48nerZQCHgo-unsplash.jpg" alt="" class="rounded">
         <img src="../../assets/img/alinaImg/japan-g864b0f11e_640.jpg" alt="" class="rounded">
         <img src="../../assets/img/alinaImg/lighthouse-gb89716ba0_640.jpg" alt="" class="rounded">
     </div>
     
 </section>
  